<span id="grid" data-action={{grid}}>格狀</span>
<span style="
    position: absolute;
    top: 56px;
    left: 270px;
    width: 20px;
    height: 20px;
    border-left: 2px solid #ccc;"></span>
<span id="list" data-action={{list}}>條列</span>
